/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */
body{
  background-color: rgb(40,40,40);
  color: white;
}
nav{
  display: flex;
  background-color: black;
  padding: 30px;
  gap: 30px;
  align-items: center;
}
nav img{
  width: 120px;
}
nav h1{
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3{
  color:lightgreen
}
section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-self: center;
  padding: 30px;
  width: 1200px;
}
section>div{
  display: flex;
}
section>div>div{
  padding: 8px;
  background: #000;
  border-radius: 10px;

}
.plists{
  gap: 15px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.albs{
  gap: 20px;
}
.plist{

}
.alb{
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
section>div>.alb>img{
  width: 100%;
}
section>div>.alb{
  width: 180px;
}
section>div>.plist>img{
  width: 100px;
}